* {
	font-family: 'Roboto', sans-serif;
	overflow: visible;
	}
body {
	background-color: Gainsboro;
}

/* the header */ 
.header {
  background-image: url(res/winter_theme.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 99%;
  height: 500px;
  box-shadow: 1px 1px 10px black;
  overflow:auto;
}

/* big white block in the middle */ 
.body_border {
	position: fixed;
	background-color: white;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 250px ;
	margin-bottom: 0px;
	width: 700px;
	height: 600px;
	box-shadow: 1px 1px 10px black;
	overflow:auto;
}
/* table where the sms-s are listed */
th, td {
	border-bottom: 1px solid #ddd;
	padding: 5px;
	text-align: center;

}
/* every other row is different color */
tr:nth-child(even) {
	background-color: #f2f2f2;
}

/* language flag */
.lang {
	content:url(res/uk_flag.png);
	position: fixed;
	top:0;
	right:0;
	float: right;
	margin-right: 20px;
	margin-top: 30px;
	border-radius:100%;
	height:50px;
	box-shadow: 1px 1px 10px black;		
}

.lang:hover {
	box-shadow: 1px 1px 25px black;		
}

.search_bar {
	position: fixed;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 125px ;
	width: 540px;
	background-color: white;
	height: 60px;
	box-shadow: 1px 1px 10px black;
	text-align: center;
}

.search_box {
	font-size: 25px;
	float: left;
	border: none;
	border-bottom: solid 3px;
	margin-left: 5px;
	margin-top: 10px;
	width: 85%;
	outline: none;
}

.search_icon {
	/*content:url(res/search_icon.png);*/
	background:url(res/search_icon.png);
	background-size:cover;
	border: none;
	display:inline-block;
	float: right;
	margin-right: 10px;
	margin-top: 5px;
	border-radius:100%;
	height:50px;
	width:50px;
	outline: none;	
	box-shadow: 1px 1px 10px black;
	    /* Hide the text. cheating*/
    text-indent: 120%;
    white-space: nowrap;
    overflow: hidden;	
}
 
.search_icon:hover {
	box-shadow: 1px 1px 25px black;
}
/* a big block so the small filter boxes are in the middle
	if you know a better way please fix this. Now if you add a new
	filter box, you have to resize this so they stay on the middle 
	and wont get burried under .body_border */
.filter_boxes {
	position: fixed;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 565px;
	margin-top: 200px ;
	margin-bottom: 0px;
	float: center;
}
/* small filter boxes */
.filter_box{
    background-color: white; /* Green */
    border: none;
    color: black;
    padding: 15px 30px;
	margin-right:15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	outline: none;
	box-shadow: 1px 1px 10px black;
}
.filter_box:hover {
	box-shadow: 1px 1px 30px black;
}

/* submit button */
.submit_sms {
	content:url(res/submit_button.png);
	position: fixed;
	bottom: 0;
	right: 0;
	float: right;
	margin-bottom: 50px;
	margin-right: 30px;
	border-radius:100%;
	height:65px;
	box-shadow: 1px 1px 10px black;
	background-color: #0072bc;
}

.submit_sms:hover {
	box-shadow: 1px 1px 25px black;
}

/* AKA the GREETER sign */
h1 {
	text-align: left;
	float: left;
	position: relative;
	color: #166087;
}

/* AKA the tite explanation */ 
h2 {
	text-align: center;
	float: center;
	font-size: 20px;
	position: fixed;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	top: 25px;
	color: #166087;
}